body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.App {
  border: 4px dashed rgb(54, 151, 224);
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  width: 150px;
}

label {
  cursor: pointer;
}

label h2 {
  color: rgb(54, 151, 224);
}

.upload__icon {
  font-size: 30px;
  color: rgb(54, 151, 224);
}

label p {
  font-size: 14px;
  color: rgb(10, 52, 85);
}

input {
  display: none;
}
